    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f0f9f4;
    }

    header {
      background: #1b5e20;
      color: #fff;
      text-align: center;
      padding: 20px;
    }

    header h1 {
      margin: 0;
      font-size: 28px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* एका row मध्ये 4 बॉक्स */
        gap: 20px;
        padding: 20px;
    }

    .card {
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      transform: translateY(50px);
      opacity: 0;
      transition: all 0.6s ease;
    }

    .card.show {
      transform: translateY(0);
      opacity: 1;
    }

    .card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    .card h3 {
      margin: 10px;
      color: #1b5e20;
    }

    .card p {
      margin: 0 10px 15px;
      font-size: 14px;
      color: #555;
    }
    .btn {
      display: block;
      width:90px;
      margin: 10px;
      padding: 10px;
      text-align: center;
      background: #1b5e20;
      color: white;
      border-radius: 8px;
      text-decoration: none;
      font-size: 14px;
      transition: background 0.3s;
    }

    .btn:hover {
      background: #2e7d32;
    }